.agents/
__pycache__/
*.pyc
*.pyo
Tomato.v3i.yolov8.zip
tiara-tomata.rar
graphify-out/
Tomato.v3i.yolov8/
crops/
crops/*
.venv/
venv/
env/
ENV/

# Uploads Web & Foto Tomat
web/uploads/foto/*
!web/uploads/foto/.gitkeep
web/uploads/*
!web/uploads/.htaccess
!web/uploads/foto/
test_images/*
*.jpg
*.jpeg
*.png
*.bmp
